{#
/**
 * @file
 * A markdown template for a release item.
 *
 * FYI: The file has no identation, because it breaks markdonw rendering.
 *
 * Available variables:
 * - contributors:
 */
#}
{% if contributors %}
{% for contributor in contributors %}
* {{ contributor }}
{% endfor %}
{% endif %}