{#
/**
 * @file
 * A markdown template for a release item.
 *
 * FYI: The file has no identation, because it breaks markdonw rendering.
 *
 * Available variables:
 * - project:
 * - maintainers:
 */
#}

{% if maintainers %}
{% for maintainer in maintainers %}
* {{ maintainer.account.field_first_name }} {{ maintainer.account.field_last_name }} — [{{ maintainer.name }}]({{ maintainer.account.url }})
{% endfor %}
{% endif %}