{#
/**
 * @file
 * A markdown template for a release item.
 *
 * FYI: The file has no identation, because it breaks markdonw rendering.
 *
 * Available variables:
 * - project:
 * - releases:
 * - maintainers:
 */
#}
{% if releases %}
{% for release in releases %}
{% if loop.first == false  %}

---

{% endif %}
## :octicons-tag-16: [{{ release.field_release_version }}]({{ project.url }}/releases/{{ release.field_release_version }})

![](https://git.drupalcode.org/project/{{ project.field_project_machine_name }}/badges/{{ release.field_release_vcs_label }}/pipeline.svg)

:octicons-commit-24: Commit: [{{ release.field_packaged_git_sha1 }}](https://git.drupalcode.org/project/{{ project.field_project_machine_name }}/-/commit/{{ release.field_packaged_git_sha1 }})  
:octicons-calendar-24: Created: {{ release.created|date("m/d/Y H:i:s") }} GMT+0000  
:octicons-person-24: Author: [{{ release.author.name }}]({{ release.author.uri|replace({'api-d7/': ""}) }})  

{% if release.field_release_short_description %}
### Short description

{{ release.field_release_short_description|raw }}

{% endif %}
{% if release.body.value %}
### Release notes

{{ release.body.value|raw }}

{% endif %}

### Assets
* [Download {{ project.field_project_machine_name }}-{{ release.field_release_version }}.tar.gz](https://ftp.drupal.org/files/projects/{{ project.field_project_machine_name }}-{{ release.field_release_version }}.tar.gz)
* [Download {{ project.field_project_machine_name }}-{{ release.field_release_version }}.zip](https://ftp.drupal.org/files/projects/{{ project.field_project_machine_name }}-{{ release.field_release_version }}.zip)
{% endfor %}
{% endif %}